<!-- 
<div style="background-color:aliceblue">
<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>CustomerID</th>
      <th>ContactName</th>
      <th>City</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of localCustomersList">
      <td>
        {{ customer.CustomerID }}
      </td>
      <td>
        {{ customer.ContactName }}
      </td>
      <td>
        {{ customer.City }}
      </td>
      <td>
        {{ customer.Phone }}
      </td>
    </tr>
  </tbody>
</table>

<br>


<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>OrderID</th>
      <th>CustomerID</th>
      <th>Date</th>
      <th>ShipName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of localOrdersList">
      <td>
        {{ order.CustomerID }}
      </td>
      <td>
        {{ order.OrderID }}
      </td>
      <td>
        {{ order.OrderDate }}
      </td>
      <td>
        {{ order.ShipName }}
      </td>
    </tr>
  </tbody>
</table>
</div> -->




<table class="table table-hover table-stripped">
  <thead>
    <tr>
      <th>CustomerID</th>
      <th>OrderID</th>
      <th>OrderDate</th>
      <th>ShipName</th>
      <th>City</th>
      <th>Contact Name</th>
      <th>Phone</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ordercustomer
     of customerOrderDetails">
      <td>
        {{ ordercustomer.CustomerID }}
      </td>
      <td>
        {{ ordercustomer.OrderID }}
      </td>
      <td>
        {{ ordercustomer.OrderDate }}
      </td>
      <td>
        {{ ordercustomer.ShipName }}
      </td>
      <td>
        {{ ordercustomer.City }}
      </td>
      <td>
        {{ ordercustomer.ContactName }}
      </td>
      <td>
        {{ ordercustomer.Phone }}
      </td>
    </tr>
  </tbody>
</table>
